.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: var(--background-dark);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 2000;
 }
 
 .modal-content {
   background: #333;
   color: #fff;
   padding: 20px;
   border-radius: 10px;
   max-width: 600px;
   width: 90%; /* Adjust width for smaller screens */
   position: relative;
   overflow-y: auto;
   max-height: 80vh;
 }
 
 .modal-content h2 {
   font-size: 1.5rem;
   margin: 16px 46px 6px 2px;
   color: linear-gradient(180deg, #fff, var(--primary-color));
 }
 
 .modal-content p {
   margin-bottom: 20px;
 }

 .modal-content a {
   color: var(--primary-color);
 }
 .modal-content a:hover {
  opacity: 0.7;
}
 
 .close-button {
   position: absolute;
   top: 10px;
   right: 10px;
   background-color: var(--primary-color);
   color: #fff;
   border: none;
   border-radius: 5px;
   padding: 5px 10px;
   cursor: pointer;
 }
 .close-button:hover {
  opacity: 0.7;
 }
 
 .modal-content img {
   max-width: 80%;
   height: auto;
   border-radius: 5px;
   margin-bottom: 15px;
   margin-top: 15px;
 }
 
 /* Media query for smaller screens */
 @media (max-width: 480px) {
   .modal-content {
     padding: 15px;
     max-width: 90%;
   }
 
   .modal-content h2 {
     font-size: 1.2rem;
     margin: 18px;
   }
 
   .modal-content img {
     max-width: 100%;
   }
 }